body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: blue;
}

.button-image {
    width: 100px; /* Állítsd be a képek méretét */
    cursor: pointer;
}

#game button {
    background-color: transparent;
    border: none;
    padding: 5px;
}
